* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Capriola';
  font-size: 72px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
  color: #222;
}

#brdr {
  border: 3px solid #333;
  width: 70%;
  height: 75%;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  background-color: #C8A48A;
}

#clrs {
  width: 35%;
  height: 43%;
  margin-bottom: 2.5%;

}

.colors{
  width: 14%;
  height: 18%;
  margin: 1.25%;
  border: 3px solid #111;
  border-radius: 25px;
  display: inline-block;
}

#btnBox {
  width: 35%;
  height: 37%;
}

#ers {
  font-weight: 700;
  width: 46.5%;
  height: 35%;
  line-height: 35%;
  border: 3px solid #333;
  margin: 25px 3.5% 25px 0;
  font-size: 36px;
  font-family: 'Capriola';
  outline: none;
  background-color: #fff;
}

#grid {
  font-weight: 700;
  width: 46.5%;
  height: 35%;
  line-height: 35%;
  border: 3px solid #333;
  margin: 25px 0 25px 3.5%;
  font-size: 36px;
  font-family: 'Capriola';
  outline: none;
  background-color: #fff;
}

#clr {
  font-weight: 700;
  width: 100%;
  height: 35%;
  line-height: 35%;
  border: 3px solid #333;
  font-size: 36px;
  font-family: 'Capriola';
  outline: none;
  background-color: #fff;
}

#grd {
  border: 3px solid #333;
  width: 50%;
  height: 85%;

}

.columns {
  width: 4%;
  min-height: 100%;
  display: inline-block;
}

.pixels {
  width: 100%;
  height: 4%;
  border: 1px solid #bababa;
  background-color: white;
}

@media (min-width: 769px) and  (max-width: 1030px) {
  #ers {
    font-size: 24px;
  }
  #clr {
    font-size: 24px;
  }
  #grid {
    font-size: 24px;
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  h1 {
  margin-top: 25px;
  margin-bottom: 20px;
  }
  #brdr {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
  #grd {
    order: -1;
    width: 85%;
    height: 60%;
    margin-top: 5%;
  }
  #clrs {
    margin-right: 5%;
    margin-top: 7.5%;
  }
  .colors{
    height: 10%;
  }
  #ers {
    font-size: 24px;
  }
  #clr {
    font-size: 24px;
  }
  #grid {
    font-size: 24px;
  }
}

@media screen and (max-width: 375px) {
  h1 {
  font-size: 42px;
  margin-top: 25px;
  margin-bottom: 15px;
  }
  #brdr {
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    width: 99%;
    height: 70%;
  }
  #grd {
    order: -1;
    width: 85%;
    height: 60%;
    margin-top: 5%;
  }
  #clrs {
    width: 60%;
    height: 40%;
  }
  .colors{
    height: 15%;
    width: 14%;
  }
  #btnBox {
    width: 35%;
    height: 37%;
    padding: 1%;
  }
  #ers {
    font-size: 14px;
    width: 48%;
    margin: 1%;
  }
  #clr {
    font-size: 14px;
    margin-top: 1%;
  }
  #grid {
    font-size: 14px;
    width: 48%;
    margin: 1%;
  }
}